@{
    Layout = "MasterPagePadrao";
    ViewBag.Title = "Home";
}

@Html.Partial("BannerSlider")

    <div class="jumbotron jumbotron-fluid">
      <div class="container text-center">
        <p class="lead">
          Crie uma conta e comece hoje mesmo a fazer a gestão de seus
          funcionários de forma rápida e simples.
        </p>
        <a href="/Usuario/Cadastrar.html" class="btn btn-primary btn-lg"
          >Criar Conta</a
        >
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="box-part text-center">
            <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>

            <div class="title">
              <span class="oi oi-bar-chart"></span>
              <h4>Funcionalidade 1</h4>
            </div>

            <div class="text">
              <span
                >Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum
                decore te sed. Elitr scripta ocurreret qui ad.</span
              >
            </div>

            <a class="funcionalidades" href="#">Saiba mais</a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="box-part text-center">
            <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>

            <div class="title">
                <span class="oi oi-phone"></span>              <h4>Funcionalidade 2</h4>
            </div>

            <div class="text">
              <span
                >Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum
                decore te sed. Elitr scripta ocurreret qui ad.</span
              >
            </div>

            <a class="funcionalidades" href="#">Saiba mais</a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="box-part text-center">
            <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>

            <div class="title">
                <span class="oi oi-map-marker"></span>
                <h4>Funcionalidade 3</h4>
            </div>

            <div class="text">
              <span
                >Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum
                decore te sed. Elitr scripta ocurreret qui ad.</span
              >
            </div>

            <a class="funcionalidades" href="#">Saiba mais</a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="box-part text-center">
            <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>

            <div class="title">
                <span class="oi oi-cog"></span>
              <h4>Funcionalidade 4</h4>
            </div>

            <div class="text">
              <span
                >Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum
                decore te sed. Elitr scripta ocurreret qui ad.</span
              >
            </div>

            <a class="funcionalidades" href="#">Saiba mais</a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="box-part text-center">
            <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>

            <div class="title">
              <span class="oi oi-cloud"></span>
              <h4>Funcionalidade 5</h4>
            </div>

            <div class="text">
              <span
                >Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum
                decore te sed. Elitr scripta ocurreret qui ad.</span
              >
            </div>

            <a class="funcionalidades" href="#">Saiba mais</a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="box-part text-center">
            <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>

            <div class="title">
                <span class="oi oi-badge"></span>              <h4>Funcionalidade 6</h4>
            </div>

            <div class="text">
              <span
                >Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum
                decore te sed. Elitr scripta ocurreret qui ad.</span
              >
            </div>

            <a class="funcionalidades" href="#">Saiba mais</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="container" style="padding-top:30px">
          <h1 class="text-center">O que falam sobre nós</h1>
          <br />
          <div class="row">
            <div class="col-sm-6">
              <div id="tb-testimonial" class="testimonial testimonial-default">
                <div class="testimonial-section">
                  Denim you probably haven't heard of. Lorem ipsum dolor met
                  consectetur adipisicing sit amet, consectetur adipisicing
                  elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor
                  met.
                </div>
                <div class="testimonial-desc">
                  <img
                    src="https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100"
                    alt=""
                  />
                  <div class="testimonial-writer">
                    <div class="testimonial-writer-name">Zahed Kamal</div>
                    <div class="testimonial-writer-designation">
                      Front End Developer
                    </div>
                    <a href="#" class="testimonial-writer-company"
                      >Touch Base Inc</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div id="tb-testimonial" class="testimonial testimonial-default">
                <div class="testimonial-section">
                  Denim you probably haven't heard of. Lorem ipsum dolor met
                  consectetur adipisicing sit amet, consectetur adipisicing
                  elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor
                  met.
                </div>
                <div class="testimonial-desc">
                  <img
                    src="https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100"
                    alt=""
                  />
                  <div class="testimonial-writer">
                    <div class="testimonial-writer-name">Zahed Kamal</div>
                    <div class="testimonial-writer-designation">
                      Front End Developer
                    </div>
                    <a href="#" class="testimonial-writer-company"
                      >Touch Base Inc</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div id="tb-testimonial" class="testimonial testimonial-default">
                <div class="testimonial-section">
                  Denim you probably haven't heard of. Lorem ipsum dolor met
                  consectetur adipisicing sit amet, consectetur adipisicing
                  elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor
                  met.
                </div>
                <div class="testimonial-desc">
                  <img
                    src="https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100"
                    alt=""
                  />
                  <div class="testimonial-writer">
                    <div class="testimonial-writer-name">Zahed Kamal</div>
                    <div class="testimonial-writer-designation">
                      Front End Developer
                    </div>
                    <a href="#" class="testimonial-writer-company"
                      >Touch Base Inc</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div id="tb-testimonial" class="testimonial testimonial-default">
                <div class="testimonial-section">
                  Denim you probably haven't heard of. Lorem ipsum dolor met
                  consectetur adipisicing sit amet, consectetur adipisicing
                  elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor
                  met.
                </div>
                <div class="testimonial-desc">
                  <img
                    src="https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100"
                    alt=""
                  />
                  <div class="testimonial-writer">
                    <div class="testimonial-writer-name">Zahed Kamal</div>
                    <div class="testimonial-writer-designation">
                      Front End Developer
                    </div>
                    <a href="#" class="testimonial-writer-company"
                      >Touch Base Inc</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />
        </div>
      </div>

      <div class="row">
        <div
          class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center"
        >
          <h1 class="display-4">Planos</h1>
          <p class="lead">
              Conheça os planos do Melhor Sistema de Gestão de ponto
          </p>
        </div>

        <div class="container">
          <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Free</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  R$0,00 <small class="text-muted">/ mo</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>10 usuários incluídos</li>
                  <li>Suporte via e-mail</li>
                  <li>Acesso a central de ajuda</li>
                </ul>
                <a class="btn btn-lg btn-block btn-outline-primary" href="/Usuario/Cadastrar.html">
                  Crie sua conta
                </a>
              </div>
            </div>
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Pro</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  R$15,90 <small class="text-muted">/ mês</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>20 usuários incluídos</li>
                  <li>Prioridade no Suporte via e-mail</li>
                  <li>Acesso a central de ajuda</li>
                </ul>
                <a class="btn btn-lg btn-block btn-primary" href="/Usuario/Cadastrar.html">
                  Crie sua conta
                </a>
              </div>
            </div>
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Enterprise</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  R$29,90 <small class="text-muted">/ mês</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>20 usuários incluídos</li>
                  <li>Prioridade no Suporte via e-mail e telefone</li>
                  <li>Acesso a central de ajuda</li>
                </ul>
                <a class="btn btn-lg btn-block btn-outline-primary" href="/Pages/Contato.html">
                  Entre em contato
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
