@{
    Layout = "MasterPagePadrao";
    ViewBag.Title = "Sobre";
}

@Html.Partial("BannerSlider")

    <!-- Page Content -->
    <div class="container">
        
      <!-- Introduction Row -->
      <h1 class="my-4">
        Sobre a Carfel
        <small>Sistema de Gestão de Ponto completo para a sua empresa</small>
      </h1>
      <p>
        Se hoje é o dia das crianças... Ontem eu disse: o dia da criança é o dia
        da mãe, dos pais, das professoras, mas também é o dia dos animais,
        sempre que você olha uma criança, há sempre uma figura oculta, que é um
        cachorro atrás. O que é algo muito importante!
      </p>
      <p>
        No meu xinélo da humildade eu gostaria muito de ver o Neymar e o Ganso.
        Por que eu acho que.... 11 entre 10 brasileiros gostariam. Você veja, eu
        já vi, parei de ver. Voltei a ver, e acho que o Neymar e o Ganso têm
        essa capacidade de fazer a gente olhar.
      </p>

      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12"><h2 class="my-4">Nosso Time</h2></div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img
            class="rounded-circle img-fluid d-block mx-auto"
            src="http://placehold.it/200x200"
            alt=""
          />
          <h3>
            Fernando Henrique<br />
            <small>Desenvolvedor</small>
          </h3>
          <p>
            Primeiro eu queria cumprimentar os internautas. -Oi Internautas!
            Depois dizer que o meio ambiente é sem dúvida nenhuma uma ameaça ao
            desenvolvimento sustentável. E isso significa que é uma ameaça pro
            futuro do nosso planeta e dos nossos países. O desemprego beira 20%,
            ou seja, 1 em cada 4 portugueses.
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img
            class="rounded-circle img-fluid d-block mx-auto"
            src="http://placehold.it/200x200"
            alt=""
          />
          <h3>
            Felipe Oliveira<br />
            <small>Desenvolvedor</small>
          </h3>
          <p>
            Eu dou dinheiro pra minha filha. Eu dou dinheiro pra ela viajar,
            então é... é... Já vivi muito sem dinheiro, já vivi muito com
            dinheiro. -Jornalista: Coloca esse dinheiro na poupança que a
            senhora ganha R$10 mil por mês. -Dilma: O que que é R$10 mil?
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img
            class="rounded-circle img-fluid d-block mx-auto"
            src="http://placehold.it/200x200"
            alt=""
          />
          <h3>
            Carlos Tsukamoto<br />
            <small>Vendas e Marketing</small>
          </h3>
          <p>
            No meu xinélo da humildade eu gostaria muito de ver o Neymar e o
            Ganso. Por que eu acho que.... 11 entre 10 brasileiros gostariam.
            Você veja, eu já vi, parei de ver. Voltei a ver, e acho que o Neymar
            e o Ganso têm essa capacidade de fazer a gente olhar.
          </p>
        </div>
      </div>
    </div>
    <!-- /.container -->
